java-web-test/src/main/java/com/yuqiaotech/helloj2ee/xml/email.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.w3school.com.cn/schema/schema_howto.asp 关键是理解namespace -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hello">
	<xs:element name="email">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="to" type="xs:string"></xs:element>
				<xs:element name="from" type="xs:string"></xs:element>
				<xs:element name="name" type="xs:string"></xs:element>
				<xs:element name="date" type="xs:date"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>