src/test/resources/com/shengsiyuan/xml/schema_source/myschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="书本" type="书本类型"/>
	<xs:complexType name="书本类型">
		<xs:sequence>
			<xs:element name="名称" type="xs:int"/>
			<xs:element name="作者" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
